.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.location-section {
	overflow-y: scroll;
	height: 900px;
}

.location-category {
	background-color: #385975;
	color: #f0f0f0;
	font-weight: bold;
}

.location {
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
}

.location:nth-child(odd) {
	background-color: #ffffff;
}

.location:nth-child(even) {
	background-color: #e0e0e0;
}

.location:hover {
	background-color: #a4e0dc;
}

.location-images {
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.top-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-line .name {
	font-weight: bold;
}

.top-line .distance {
	font-size: 0.7em;
}

.description {
	margin-bottom: 0.25rem;
	font-size: 0.9em;
}

.details-section {
	/* position: absolute; */
	/* top: 0px; */
	height: 200px;
	/* background-color: rgba(195, 8, 14, 0.44); */
	background-color: #e4fbff;
	font-family: Helvetica, Sans-Serif;
	text-align: left;
	vertical-align: middle;
}

.details-name-container {
	font-size: 2em;
	font-weight: bold;
}

.details-type {
	font-size: 1.2em;
}

.details-description {
	padding: 5px;
	font-style: italic;
	background-color: #c3e4eb;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 50px;
}

.details-images-container {
	padding: 5px;
	position: absolute;
	left: 3px;
	bottom: 3px;
}

.details-images-container img {
	padding: 0px 5px;
}

#details-distance-container {
	padding: 10px;
	text-align: center;
}

#details-quadrant-container {
	padding: 10px;
	text-align: center;
}

#details-parking-container {
	padding: 10px;
	text-align: center;
}

#details-types-container {
	margin-bottom: 30px;
}

#details-death-date-container {
	display: none;
	position: absolute;
	left: 3px;
	font-weight: bold;
	color: #b30100;
}

#details-frequency-container {
	position: absolute;
	bottom: 3px;
	left: 3px;
	font-weight: bold;
	color: #6aaab5;
}

.details-time-container {
	border: 1px solid #000;
	padding: 5px;
	text-align: center;
	display: block;
	margin: 5px 30px;
}

.details-time-label {
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

.details-review-container {
	padding: 10px;
}
.details-review-name {
	font-weight: bold;
}
.details-review-data {
	margin-left: 10px;
}

.details-label {
	font-weight: bold;
}

.details-col {
	height: 300px;
	background-color: #e4fbff;
	font-family: Helvetica, Sans-Serif;
	text-align: left;
	vertical-align: middle;
	position: relative;
}
.details-middle-col {
	background-color: #d3f0f5;
}

.details-end-col {
	background-color: #e4fbff;
}

.details-cost {
	float: right;
	color: #149518;
}

#google-map {
	overflow: hidden;
	height: 700px;
}

.header-section-2 {
	position: relative;
	z-index: 50;
	top: 0;
	width: 100%;
	display: block;
}

.header-contents {
	position: relative;
	background-color: #3276b1;
	box-shadow: rgba(0, 0, 0, 0.65) 0px 2px 4px 0px;
	display: flex;
	height: 56px;
	justify-content: space-between;
	padding-left: 16px;
}

.header-contents-left {
	display: inline-flex;
	flex-wrap: wrap;
	height: 100%;
	overflow: hidden;
	-webkit-box-align: stretch;
	align-items: stretch;
}

.header-contents-right {
	display: inline-flex;
	flex-wrap: wrap;
	height: 100%;
	overflow: hidden;
	-webkit-box-align: stretch;
	align-items: stretch;
}

.header-section {
	height: 50px;
	width: 100%;
	border-bottom: 3px solid #000;
	background-color: #3276b1;
	color: #f0f0f0;
}

.logo {
	height: 33px;
	margin-left: 10px;
	margin-top: 5px;
}

.logo-2 {
	display: flex;
	padding-right: 16px;
	-webkit-box-align: center;
	align-items: center;
	height: 85%;
}

.logo-2 img {
	height: 80%;
}
.header-link {
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	font-size: 16px;
	height: 100%;
	line-height: 20px;
	padding: 16px;
	text-decoration: none;
}

.header-link:hover {
	background-color: #88a8c4;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.tagline {
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	margin-left: 15px;
	vertical-align: sub;
}

.link-container {
	vertical-align: middle;
	margin-top: 5px;
	margin-right: 10px;
}

.link-container a {
	text-decoration: none;
}

.link-container span {
	background-color: #994949;
	border: solid 2px #5d0202;
	padding: 5px;
	font-size: 0.9em;
	margin-right: 5px;
	margin-top: 5px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.link-container span:hover {
	background-color: #dc5c5c;
}

.filter-button {
	cursor: pointer;
	width: 80px;
	background-color: #1a4f7c;
	display: flex;
	align-items: center;
	line-height: 20px;
}

.filter-button img,
.filter-button i {
	margin: 0 auto;
}

.filter-button i {
	color: #fff;
}

.filter-button.disabled {
	opacity: 0.3;
}

.filter-button.enabled {
	opacity: 1;
	border: solid 2px #e6e53b;
}
